.DS_Store
*.jar
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat
*.spec
*.settings
*.status
*.iml
*.idea
*.deps
*.dirstamp
*.o
*.la
*.lo
*.log
*.libs
*.pc
*.pm
*.go.swo
*.go.swp
.vscode*
logs/
